<section class="s-block s-block--default-home-slider s-block--full-bg">
  <salla-slider auto-play pagination type="fullwidth">
    <div v-slot:items>
      {% for banner in component['banner-test'] %}
      <div class="relative swiper-slide">
        <!--img-->
        <img
          src="{{ banner['banner-test-img'] }}"
          alt="{{ banner.title }}"
          class="w-full h-auto object-cover"
        />
        <!--text-->

        <div
          id="banner-test"
          class="absolute inset-0 flex items-center justify-end px-8 py-16 lg:px-12 lg:py-20"
        >
          <div class="text-2xl text-dark text-right">
            <h2 data-swiper-parallax="-300">
              {{ banner["banner-test-head"] }}
            </h2>
            <p data-swiper-parallax="-100">{{ banner["banner-test-text"] }}</p>
            <!--button-->

            <button
              href="{{ banner['test-url'] }}
"
            >
              <span
                class="btn btn-primary"
                style="background-color: {{ banner['test-color'] }}; "
                >{{ banner["test-but-txt"] }}</span
              >
            </button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </salla-slider>
</section>
