<section class="container mx-auto py-10">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 h-[510px]">
    {# العمود الأيسر: صورتين فوق بعض #}
    <div class="grid grid-rows-2 gap-4">
      {% for box in [component['grid-img-1'][0], component['grid-img-1'][1]] %}
      <div class="relative h-full">
        <img
          src="{{ box['img-1'] }}"
          alt="صورة"
          class="w-full h-full object-cover rounded-md"
        />
        <div
          class="absolute inset-0 p-6 text-white flex flex-col justify-center bg-black/30 rounded-md"
        >
          <h2 class="text-xl font-bold mb-2">
            {{ settings["grid-imh-txt-1"] }}
          </h2>
          <p class="text-sm mb-4">{{ settings["grid-img-sub-1"] }}</p>
          <a href="{{ box['img-url-1'] }}" class="btn btn-primary w-max"
            >تسوق الآن</a
          >
        </div>
      </div>
      {% endfor %}
    </div>

    {# العمود الأيمن: صورة واحدة كبيرة #} {% set box =
    component['grid-img-1'][2] %}
    <div class="relative h-full">
      <img
        src="{{ box['img-1'] }}"
        alt="صورة"
        class="w-full h-full object-cover rounded-md"
      />
      <div
        class="absolute inset-0 p-6 text-white flex flex-col justify-center items-start bg-black/30 rounded-md"
      >
        <h2 class="text-2xl font-bold mb-2">
          {{ settings["grid-imh-txt-1"] }}
        </h2>
        <p class="text-sm mb-4">{{ settings["grid-img-sub-1"] }}</p>
        <a href="{{ box['img-url-1'] }}" class="btn btn-primary w-max"
          >تسوق الآن</a
        >
      </div>
    </div>
  </div>
</section>
